# Default ignored files
/../../CreateLootItemAndEncounterOrderDND /.idea/shelf/
/../../CreateLootItemAndEncounterOrderDND /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../CreateLootItemAndEncounterOrderDND /.idea/httpRequests/
